div .flex {
    display: flex;
}
.flex .row {
    flex-direction: row;
}

.card {
    background-color: #E1EEC7;
    color: #161616;
    border-radius: 5rem;
    margin: 0.5rem;
    padding: 0.2rem;
}

.page {
    width: 2rem;
    height: 1.9rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.1rem;
}
.page.unselected {
    background-color: #E1EEC7;
    color: #161616;
}
.page.selected {
    background-color: #61B136;
    color: #FCFCFC
}
.page.unselected:hover {
    background-color: #BBDC2F;
    cursor: pointer;
}

